:root {
    --left-color: #0a2442;
    --right-color: #3c1246;
}

/* importing my pixel font */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* removing the default margin provided by the browser */

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Silkscreen', sans-serif,  cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, var(--left-color), var(--right-color));
}

div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas { 
    z-index: 1;
    display: block; 
    background: rgba(52, 52, 52, 0.353); 
}

button {
    z-index: 2;
    position: absolute;
    font-family: 'Silkscreen', sans-serif,  cursive;
    padding: 15px 32px;
    background-color: rgba(3, 3, 3, 0.3);
    color: white;
    font-size:x-large;
    border: solid;
}

button:hover{
    background-color: #0a2442;
}

#scoreCounter {
    z-index: 3;
    color: white;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    font-size: small;
    right: 0;
    top: 0;
}

h1{
    color: #ffffff;
}


nav {
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav ul li span {
    color: #ffffff;
    margin-right: 10px;
}

.range-value {
    width: 40px; 
}


